// Toggle global options
// $enable-gradients: true;
// $enable-shadows: true;

// Customize some defaults
$border-radius: 20px;

// Color
$color-yellow-500: #fdd446;
$color-black: #000;

$font-family-Oswald: Oswald !default;

